.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #0001;
}
.container .dice-container {
    position: relative;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}