.navbar-container {
  position: relative;
  display: block;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-container .left-container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar-container .left-container a.title {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  height: 100%;
  background: #0004;
  /* line-height: 6vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.navbar-container .left-container .level {
  display: block;
  margin-left: 20px;
}
.navbar-container .left-container .slider-container {
  width: 150px;
  margin-left: 20px;
}
.navbar-container .right-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
